

#mydiv{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  margin: 100px auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: transform;
  transition-duration: 5s;
  
}

#mydiv:hover{
  /* transform: translateY(-100px); */
  /* transform: scale(2); */
  /* transform: rotateY(360deg); */
  /* transform: skewY(360deg); */
}