

 .container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  border: 2px solid red;
 
}
.child{
  background-color: yellow;
  border: 2px solid black;
  margin: 10px;
  height: 200px;
} 


