
body{
  border: 2px solid blue;
  height: 400px;
  width: 800px;
 
}
#one{
  width: 300px;
  height: 200px;
  border: 2px solid black;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  /* margin: 0px auto; */
  /* margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-right: 100px; */
  /* margin: 100px; */
  /* margin: 100px; */
  /* margin: 100px 200px; */
  /* margin: 100px 200px 300px; */
  /* margin: -100px  */
  /* margin-bottom: 200px; */
}
/* #two{
  width: 400px;
  height: 200px;
  border: 2px solid rgb(242, 4, 4);
  margin-top: 190px;
} */