

.myclass{
  width: 400px;
  height: 200px;
  border: 2px solid red;
  margin: 50px auto;
  /* padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px; */
  /* padding: 50px; */

  /* padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px; */

  /* padding: 10px 20px 30px 40px; */
  /* padding: 10px 20px 30px 40px; */
  /* padding: 20px 60px; */
  /* padding: 20px 200px 40px; */
}