
.parent{
  width: 600px;
  border: 2px solid black;
  margin: 100px auto;
}
.one{
  width: 100px;
  height: 100px;
  background-color: yellow;
  float: right;
}
.two{
  width: 100px;
  height: 100px;
  background-color: rgb(0, 255, 13);
  float: left;
}
.three{
  width: 100px;
  height: 100px;
  background-color: rgb(255, 0, 0);
  float: right;
}