*{
  color: white;
}
.container{
  width: 800px;
  height: 500px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  /* justify-content:  space-evenly; */
  align-items: end;

}

.child{
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 2px solid red;
}